.App {
  text-align: center;
  background-color: #EDE3E1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  background-image: linear-gradient(to right, #1E1F1E, #4F5252);
}

.site-footer {
  background-image: linear-gradient(to left, #1E1F1E, #4F5252);
}

/*BmiCalculatorPage---------------------------------------------------------------------------------------*/

.bmi-cal-title {
  background-color: grey;
  border-radius: 10px;
}

/*CounterPage---------------------------------------------------------------------------------------*/

.counter-title {
  background-color: grey;
  border-radius: 10px;
}

.decrement-button {
  border-radius: 10px;
}

.counter-display {
  background-color: #171A19;
  color: #fff;
  border-radius: 10px;
}

.increment-button {
  border-radius: 10px;
}

.counter-row {
  background-color: grey;
  border-radius: 10px;
}

.json-data-row {
  background-color: grey;
  border-radius: 10px;
}

/*UseReducerPage---------------------------------------------------------------------------------------*/

.todo-container {
  background-color: grey;
  border-radius: 10px;
}

/*Todo Component---------------------------------------------------------------------------------------*/

.todo-description {
  background-color: #1E1F1EC4;
  border-radius: 10px;
}


/*BmiForm Component*/
.bmi-container {
  background-color: grey;
  width: 50%;
  border-radius: 10px;
}